@font-face {
  font-family: NanumSquare;
  src: url('/fonts/NanumSquare_acR.ttf') format('truetype');
}

@font-face {
  font-family: NanumSquare;
  src: url('/fonts/NanumSquare_acB.ttf') format('truetype');
  font-weight: bold;
}

.wrapper { 
    margin: 0px;
    max-width: 100%;
    min-width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  color: #374149;
  font-size: 15px;
  font-family: NanumSquare;
}

code {
  display: inline-block;
  width: 100%;
  overflow-x: scroll;
}

.book_list {
    width: 80%;
}

.book_item {
    height: 300px;
    width: 250px;
    padding: 20px;
    margin: 0px 20px 20px 0px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
}

.book_title {
    font-size: 25px;
    margin-bottom: 30px;
    display: inline-block;
}

.book_sub_title {
    font-size: 13px;
    margin-bottom: 30px;
    right: 20px;
    bottom: 0px;
    position: absolute;
}

.header {
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    border-bottom: 1px solid #DFDFDF;
    background-color: white;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.hedaer div {
    display: table;
    height: 40px;
}

.header div span {
    font-size: 25px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    height: 40px;
}

#menu {
  min-width: 250px;
  height: calc(100vh - 80px);
  margin-top: 80px;
  overflow-y: scroll;
  background-color: #FAFAFA;
  border-right: 1px solid #DFDFDF;
}

#app {
  margin-top: 100px;
}

.content_wrapper {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

#content {
  padding: 30px;
  margin-top: 80px;
}

#content img {
  max-width: 700px;
  height: auto;
}

#menu ul {
  list-style: none;
  margin: 0px;
  padding: 15px;
}

li {
  padding: 10px 0px;
}

#menu ul li {
  cursor: pointer;
}


hr {
  height: 1px;
  color: #EDEDED;
  background-color: #EDEDED;
  border: none;
}

.groupTitle {
  font-size: 20px;
  font-weight: bold;
}

.groupTitle ul li {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}


/* 미디어쿼리 */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #menu {
    display: block;
  }

  #menuBtn {
    display: none;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
  #menu {
    display: block;
  }

  #menuBtn {
    display: none;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
  #menu {
    display: block;
  }

  #menuBtn {
    display: none;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #menu {
    display: block;
  }

  #menuBtn {
    display: none;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  #menu {
    display: none;
  }

  #menuBtn {
    display: block;
  }

  img {
    width: 100%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  #menu {
    display: none;
  }

  #menuBtn {
    display: block;
  }
  
  img {
    width: 100%;
  }
}
