<head>
    <meta charset="UTF-8">
    
    <link rel="shortcut icon" href="{{ site.url }}/imgs/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- vue -->
    <script src=https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js></script><!-- for ie11 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

    <title>ramibrary</title>
</head>

<div class="header">
    <img src="/imgs/library-outline.svg">
    <div>
        <span>ramibrary</span>
    </div>

    <!-- <a href="/about.html">About</a> -->
</div>