<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.5.0/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/highlight.js/9.5.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <div style="display: flex; flex-direction: row;">
    <div id="menu"></div>
    <div class="content_wrapper">
      <div class="header">
        <img src="/imgs/menu-outline.svg" id="menuBtn" onclick="clickMenu()">
        <img src="/imgs/library-outline.svg" onclick="location.href='/'">
        <div>
          <span id="bookTitle"></span>
        </div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
    
  </div>
  
</body>

</html>

<script>
  window.onload = function () {
    $.ajax({
      type: 'GET',
      url: 'data.json',
      success: function (result) {
        let url = window.location.href;
        var html = "<ul>";
        let arr = result.contents;
        for (var i = 0; i < arr.length; i++) {
          var item = arr[i];
          if (item.url != "" && url.includes(item.url)) {
            html += "<li style='color: #008CFF; font-weight: bold' onclick='location.href=\"" + item.url + "\"'>" + item.title + "</li>";
          } else {
            html += "<li style='color: #374149; font-weight: bold' onclick='location.href=\"" + item.url + "\"'>" + item.title + "</li>";
          }

          if (item.sub != null) {
            for (var j = 0; j < item.sub.length; j++) {
              var subItem = item.sub[j];
              if (subItem.url != "" && url.includes(subItem.url)) {
                html += "<li style='color: #008CFF;' onclick='location.href=\"" + subItem.url + "\"'>&nbsp;&nbsp;&nbsp;" + subItem.title + "</li>";
              } else {
                html += "<li color: #374149; onclick='location.href=\"" + subItem.url + "\"'>&nbsp;&nbsp;&nbsp;" + subItem.title + "</li>";
              }
            }
          }
          html += "<hr>"
        }
        html += "</ul>";
        $("#menu").html(html);
        $("#bookTitle").html(result.title);
      }, error: function (error) {
        console.log(error);
      }
    });
  }

  function clickMenu() {
    if ($("#menu").is(":visible")) {
      $("#menu").hide();
    } else {
      $("#menu").show();
    }

  }

</script>