<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.5.0/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/highlight.js/9.5.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="header">
    <img src="/imgs/library-outline.svg" onclick="location.href='/'">
    <div>
      <span id="bookTitle"></span>
    </div>
  </div>
  <div id="content">
    {{ content }}
  </div>
</body>

</html>

<script>
  window.onload = function () {
    $.ajax({
      type: 'GET',
      url: 'data.json',
      success: function (result) {
        var html = "";
        let arr = result.contents;
        for (var i = 0; i < arr.length; i++) {
          var item = arr[i];
          html += "<span class='groupTitle'># "+item.group+"<span>";
          html += "<ul>";
          for(var j=0; j<item.solve.length; j++) {
            var solve = item.solve[j];
            html += "<li onclick='location.href=\"" + solve.url + "\"'>" + "["+item.group+"] " + solve.title + "</li>";
          }
          html += "</ul>";
        }
        $("#content").html(html);
        $("#bookTitle").html(result.title);
      }, error: function (error) {
        console.log(error);
      }
    });
  }

</script>