<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="header">
    <img src="/imgs/library-outline.svg" onclick="location.href='/'">
    <div>
        <span id="bookTitle"></span>
    </div>
  </div>
  <div id="content">
    <div style="margin-bottom: 30px;">
        {{ content }}
    </div>
    <hr>
    <button style="float: right; width: 80px; height: 30px; border: 1px solid #cccccc;" onclick="location.href='/book/algorithm/solve'">목록</button>
  </div>
</body>

</html>

<script>
  window.onload = function () {
    $.ajax({
      type: 'GET',
      url: '../data.json',
      success: function (result) {
        $("#bookTitle").html(result.title);
      }, error: function (error) {
        console.log(error);
      }
    });
  }

</script>